<h1>Односторонняя привязка данных:</h1>
<p>double figure brackets: {{startText}}</p>
<input type="text" [value]='temp' />
<button (click)="showTempString()">CHECK</button>
<hr/>
<h1>Двустороння привязка данных:</h1>
<p>Привет {{twoSideStr}}</p>
<input type="text" [(ngModel)]='twoSideStr' /> <br><br>
<input type="text" [(ngModel)]='twoSideStr' />
<hr/>
<input type="text" [(ngModel)]='age' />
<my-first-component [data] = 'author' [userAge] = 'age'></my-first-component>
<hr/>
<array-example-component></array-example-component>
<hr/>
<directive-example-component></directive-example-component>
<hr/>
<h1>Data from service</h1>
<h3>Component 1 using service</h3>
<test-component></test-component>
<hr/>
<h3>Component 2 using service</h3>
<ul>
    <li *ngFor="let name of arrayFromService">{{name}}</li>
</ul>